<p id="notice"><%= notice %></p>

<h1>Caregories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Node</th>
      <th>Tree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caregories.each do |caregory| %>
      <tr>
        <td><%= caregory.name %></td>
        <td><%= caregory.node %></td>
        <td><%= caregory.tree %></td>
        <td><%= link_to 'Show', caregory %></td>
        <td><%= link_to 'Edit', edit_caregory_path(caregory) %></td>
        <td><%= link_to 'Destroy', caregory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caregory', new_caregory_path %>
