<%= form_with(model: option, local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :op1 %>
    <%= form.text_field :op1, id: :option_op1 %>
  </div>

  <div class="field">
    <%= form.label :op2 %>
    <%= form.text_field :op2, id: :option_op2 %>
  </div>

  <div class="field">
    <%= form.label :checked %>
    <%= form.number_field :checked, id: :option_checked %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :option_value %>
  </div>

  <div class="field">
    <%= form.label :search_id %>
    <%= form.text_field :search_id, id: :option_search_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
