<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do entrevistado:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Pergunta 1:</strong>
  <%= @option.op1 %>
</p>

<p>
  <strong>Valor Escolhido 1:</strong>
  <%= @option.value1 %>
</p>

<p>
  <strong>Pergunta 2:</strong>
  <%= @option.op2 %>
</p>

<p>
  <strong>Valor Escolhido 2:</strong>
  <%= @option.value2 %>
</p>

<p>
  <strong>Pergunta 3:</strong>
  <%= @option.op3 %>
</p>

<p>
  <strong>Valor Escolhido 3:</strong>
  <%= @option.value3 %>
</p>

<p>
  <strong>Pergunta 4:</strong>
  <%= @option.op4 %>
</p>

<p>
  <strong>Valor Escolhido 4:</strong>
  <%= @option.value4 %>
</p>

<p>
  <strong>Pergunta 5:</strong>
  <%= @option.op5 %>
</p>

<p>
  <strong>Valor Escolhido 5:</strong>
  <%= @option.value5 %>
</p>

<p>
  <strong>Pergunta 6:</strong>
  <%= @option.op6 %>
</p>

<p>
  <strong>Valor Escolhido 6:</strong>
  <%= @option.value6 %>
</p>

<p>
  <strong>Pergunta 7:</strong>
  <%= @option.op7 %>
</p>

<p>
  <strong>Valor Escolhido 7:</strong>
  <%= @option.value7 %>
</p>

<p>
  <strong>Pergunta 8:</strong>
  <%= @option.op8 %>
</p>

<p>
  <strong>Valor Escolhido 8:</strong>
  <%= @option.value8 %>
</p>

<p>
  <strong>Pergunta 9:</strong>
  <%= @option.op9 %>
</p>

<p>
  <strong>Valor Escolhido 9:</strong>
  <%= @option.value9 %>
</p>

<p>
  <strong>Pergunta 10:</strong>
  <%= @option.op10 %>
</p>

<p>
  <strong>Valor Escolhido 10:</strong>
  <%= @option.value10 %>
</p>

<p>
  <strong>Pergunta 11:</strong>
  <%= @option.op11 %>
</p>

<p>
  <strong>Valor Escolhido 11:</strong>
  <%= @option.value11 %>
</p>

<p>
  <strong>Pergunta 12:</strong>
  <%= @option.op12 %>
</p>

<p>
  <strong>Valor Escolhido 12:</strong>
  <%= @option.value12 %>
</p>

<p>
  <strong>Pergunta 13:</strong>
  <%= @option.op13 %>
</p>

<p>
  <strong>Valor Escolhido 13:</strong>
  <%= @option.value13 %>
</p>

<p>
  <strong>Pergunta 14:</strong>
  <%= @option.op14 %>
</p>

<p>
  <strong>Valor Escolhido 14:</strong>
  <%= @option.value14 %>
</p>

<p>
  <strong>Pergunta 15:</strong>
  <%= @option.op15 %>
</p>

<p>
  <strong>Valor Escolhido 15:</strong>
  <%= @option.value15 %>
</p>

<p>
  <strong>Pergunta 16:</strong>
  <%= @option.op16 %>
</p>

<p>
  <strong>Valor Escolhido 16:</strong>
  <%= @option.value16 %>
</p>

<p>
  <strong>Pergunta 17:</strong>
  <%= @option.op17 %>
</p>

<p>
  <strong>Valor Escolhido 17:</strong>
  <%= @option.value17 %>
</p>

<p>
  <strong>Pergunta 18:</strong>
  <%= @option.op18 %>
</p>

<p>
  <strong>Valor Escolhido 18:</strong>
  <%= @option.value18 %>
</p>
<p>
  <strong>Pergunta 19:</strong>
  <%= @option.op19 %>
</p>

<p>
  <strong>Valor Escolhido 19:</strong>
  <%= @option.value19 %>
</p>
<p>
  <strong>Pergunta 20:</strong>
  <%= @option.op20 %>
</p>

<p>
  <strong>Valor Escolhido 20:</strong>
  <%= @option.value20 %>
</p>

<p>
  <strong>Pergunta 21:</strong>
  <%= @option.op21 %>
</p>

<p>
  <strong>Valor Escolhido 21:</strong>
  <%= @option.value21 %>
</p>

<p>
  <strong>Pergunta 22:</strong>
  <%= @option.op22 %>
</p>

<p>
  <strong>Valor Escolhido 22:</strong>
  <%= @option.value22 %>
</p>

<p>
  <strong>Pergunta23:</strong>
  <%= @option.op23 %>
</p>

<p>
  <strong>Valor Escolhido 23:</strong>
  <%= @option.value23 %>
</p>

<p>
  <strong>Pergunta24:</strong>
  <%= @option.op24 %>
</p>

<p>
  <strong>Valor Escolhido 24:</strong>
  <%= @option.value24 %>
</p>

<p>
  <strong>Pergunta25:</strong>
  <%= @option.op25 %>
</p>

<p>
  <strong>Valor Escolhido 25:</strong>
  <%= @option.value25 %>
</p>

<p>
  <strong>Valor Escolhido 25:</strong>
  <%= @option.value25 %>
</p>

<p>
  <strong>Enviar protótipo:</strong>
  <%= @option.prototipo %>
</p>
<%= link_to 'Editar', edit_option_path(@option) %> |
<!--<%= link_to 'Voltar', options_path %>-->
