<% content_for :head do%>
    <%javascript_include_tag "notify"%>
<%end%>
<div>
    <h4>
        <%=t("AHPIntroduction")%> Mais informações em: <%= link_to "#{t('About')} AHP", "https://pt.wikipedia.org/wiki/Analytic_Hierarchy_Process"%>
    </h4>
</div>

<div>
    <h3>
        <b>Hierarquia Default</b>: <span style="color:blue">Nuvens computacionais</spam>
    </h3>
    <div class="tree">
        <%=render(:partial =>'form_tree') %>
    </div>
</div>

<div>

    <h3>
        <b>Distribuição de pesos</b> aplicada a hierarquia
    </h3>
</div>

<%= render 'form_category'%>

<div class='actions' style='padding:2px;float:right;'>
    <table class='botoes'>
        <tr>
            <td class='bot'>
                <%=button_to "#{t('Execute')}", {:controller => "ahp", :action=> "execute_ahp"}  ,method: :post %>
            </td>
            <td class='bot'>
                <%=button_to "#{t('comeBack')}", root_path, method: :get%>
            </td>
        </tr>
    </table>
</div>

<%=flash_message%>
