<%= form_with(model: cloud, local: true) do |form| %>
  <% if cloud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cloud.errors.count, "error") %> prohibited this cloud from being saved:</h2>

      <ul>
      <% cloud.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Quantidade de máquinas virtuais" %>
    <%= form.number_field :vm, id: :cloud_vm %>
  </div>

  <div class="field">
    <%= form.label "Quantidade de processamento(CPU's)" %>
    <%= form.number_field :cpu, id: :cloud_cpu %>
  </div>

  <div class="field">
    <%= form.label "Quantidade de memória RAM(GB)" %>
    <%= form.number_field :ram, id: :cloud_ram %>
  </div>

  <div class="field">
    <%= form.label "Quantidade de armazenamento (GB)" %>
    <%= form.number_field :storage, id: :cloud_storage %>
  </div>

  <div class="actions">
    <%= form.submit "Continuar" %>
  </div>
<% end %>
